@charset "UTF-8";
/*@mixin para controlar el tamaño del carousel*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.416), rgba(255, 255, 255, 0.904)), url("/imagenes/leather-sofa-and-wooden-table-in-living-room-interior-with-plant-concrete-wall-for-tv-3d-rendering.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.containerGlobal {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 110px 724px 400px 550px 450px 650px 750px 500px;
  grid-template-areas: "NOM HEAD HEAD HEAD" "carru carru carru carru" "text0 text0 text0 text0" "text1 text1 img1 img1" "img2 img2 text2 text2" "text3 text3 img3 img3" "img4 img4 img4 img4" "foot foot foot foot";
}

.Nombre {
  grid-area: NOM;
}

.containerHeader {
  grid-area: HEAD;
}

.carru {
  grid-area: carru;
  background-color: azure;
}

.carousel-item active img {
  height: 724px;
  width: 100%;
}

.carousel-item img {
  width: 100%;
  height: 724px;
}

/*
.carousel-item img 
{
  height: 724px;
  width: 100%; 
}
*/
/**

  .containerMain 
  {
    grid-area: text;
    border: solid black 3px;
    background-color: aquamarine; 
  }

  .containerMain
  {
    background-color: red; 
  }

**/
.text0 {
  grid-area: text0;
}

.text1 {
  grid-area: text1;
}

.img1 {
  grid-area: img1;
}

.text2 {
  grid-area: text2;
}

.img2 {
  grid-area: img2;
}

.text3 {
  grid-area: text3;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.footer {
  grid-area: foot;
}

.Nombre {
  display: flex;
  width: 100%;
  height: 110px;
  align-items: center;
  justify-content: center;
}

.solsken {
  width: 160px;
}

.p2 {
  font-size: 10px;
  padding-right: 200px;
  color: rgb(0, 0, 0);
}

.containerHeader {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: Josefin sans;
  align-items: center;
}

.containerHeader ul {
  display: flex;
  list-style: none;
}

.containerGlobal li {
  padding-right: 20px;
  font-size: 30px;
}

.containerHeader a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.containerHeader li {
  margin-top: 10px;
}

.containerHeader a:hover {
  color: black;
  font-weight: bold;
}

/*Variable color aplica sobre el text1, text2 y text3*/
.text0 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: josefin sans;
  font-size: 22px;
  padding: 250px;
}

.text1 {
  display: flex;
  align-items: center;
  font-family: josefin sans;
  font-size: 22px;
  margin-top: 40px;
  margin-left: 115px;
  padding-left: 35px;
  color: black;
}

.img1 {
  margin-top: 40px;
  padding-left: 280px;
}

.img1 img {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.img2 {
  padding-left: 150px;
}

.img2 img {
  margin-top: 120px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.text2 {
  display: flex;
  align-items: center;
  margin-top: 120px;
  padding-right: 100px;
  padding-left: 140 px;
  font-family: josefin sans;
  font-size: 25px;
  color: black;
}

.img3 {
  padding-left: 280px;
}

.img3 img {
  margin-top: 120px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.text3 {
  display: flex;
  align-items: center;
  font-family: josefin sans;
  margin-top: 120px;
  font-size: 25px;
  color: black;
  padding-left: 150px;
}

.img4 {
  margin-top: 120px;
}

.img4-1 {
  width: 81%;
  height: 600px;
  margin-left: 150px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* mixin para controlar foot1 */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px;
  border-top: solid 3px;
}

.foot1 {
  font-size: 32px;
  font-family: Roboto Mono;
  padding-bottom: 10px;
  padding-top: 35px;
}

.foot-2 {
  display: flex;
  width: 50px;
  justify-content: center;
  padding-bottom: 40px;
}

.foot-2 img {
  padding: 3px;
}

.foot3 {
  font-family: Roboto mono;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .containerGlobal {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 110px 200px 400px 500px 200px 400px 200px 400px 200px 400px 400px 400px;
    grid-template-areas: "nom" "heaad" "carr" "text0s" "text1s" "img1s" "text2s" "img2s" "text3s" "img3s" "img4s" "foo";
  }
  .Nombre {
    grid-area: nom;
  }
  .containerHeader {
    grid-area: heaad;
  }
  .containerHeader ul {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .containerHeader li {
    margin-top: 0;
  }
  .carru {
    grid-area: carr;
  }
  .text0 {
    grid-area: text0s;
    font-size: 18px;
    margin: 10px;
    padding: 0;
  }
  .carousel-item active img {
    width: 100%;
    height: 400px;
  }
  .carousel-item img {
    width: 100%;
    height: 400px;
  }
  .text1 {
    grid-area: text1s;
    font-size: 18px;
    margin: 10px;
    padding: 0;
  }
  .img1 {
    grid-area: img1s;
    margin: 0;
    padding: 0;
  }
  .ima {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
  }
  .img4-1 {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    box-shadow: none;
    padding-top: 10px;
  }
  .text2 {
    grid-area: text2s;
    font-size: 18px;
    margin: 10px;
    padding: 0;
  }
  .img2 {
    grid-area: img2s;
    margin: 0;
    padding: 0;
  }
  .img2 img {
    margin: 0;
  }
  .text3 {
    grid-area: text3s;
    font-size: 18px;
    margin: 10px;
    padding: 0;
  }
  .img3 {
    grid-area: img3s;
    margin: 0;
    padding: 0;
  }
  .img3 img {
    margin-top: 0;
  }
  .img4 {
    grid-area: img4s;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
  }
  .img4 img {
    margin: 0;
  }
  .footer {
    grid-area: foo;
  }
}

/*# sourceMappingURL=style.css.map */
