.carousel-item active img
{
    height: 724px;
}

.carousel-item img
{
    height: 724px;
}


.main
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: josefin sans;
    flex-direction: column;
    padding: 300px; 
    font-size: 20.5px;
}

.text1
{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 30px;
}

.text2
{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    align-content: center;
    font-size: 25px;
}

.text3
{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.img1
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1 img
{
    height: 460px;
    width: 1150px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.img2
{
    display: flex;
    justify-content: center;
    padding-left: 155px;
    padding-top: 25px;
}

.img2 img
{
    height: 460px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.img3
{
    display: flex;
    justify-content: center;
    padding-right: 155px;
    padding-top: 25px;
}

.img3 img
{
    height: 450px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.img4
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img4 img
{
    height: 650px;
    width: 1150px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.img5
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 155px;
}

.img5 img
{
    height: 460px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.img6
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 155px;
}

.img6 img
{
    height: 460px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}